/*--------------------------------------------------------------------------
*
*  Typography
*
* This section a set of default forms styles, please add/change these styles.
* There are actionables here.
*
*-------------------------------------------------------------------------*/

$defaultFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$roboto: 'Roboto', "Helvetica Neue", sans-serif;
$merriweather: 'Merriweather', Georgia, Times, serif;

$text: 19px;
$line-height: 1.7em;


html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: $merriweather;
    font-size: $text;
    line-height: $line-height;
    color: black;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: normal;
    line-height: $line-height;
    color: black;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
    font-size: 65%;
    font-weight: normal;
    line-height: 1;
    color: #333333;
}

h1,
.h1 {
    font-family:$defaultFont;
    font-size: 2em;
    line-height:1.2em;
    margin: 0.5em 0;
}

h2,
.h2 {
    font-family:$defaultFont;
    font-size: 2.95em;
    font-weight:600;
    line-height:1.1em;
    &.h2-text{
      text-transform:none;
    }
}

h3,
.h3 {
    font-family:$defaultFont;
    font-size: 2.05em;
    font-weight:600;
    line-height:1.1em;
}

h4,
.h4 {
    font-family:$defaultFont;
    font-weight:500;
    font-size: 1.45em;
    line-height:1.1em;
}

h5,
.h5 {
    font-family:$roboto;
    font-weight:600;
    font-size: 0.95em;
    margin:0.35em 0;
    text-transform:uppercase;
    &.h5-text{
      text-transform:none;
    }
}

h6,
.h6 {
    font-family:$roboto;
    font-weight:500;
    font-size: 0.65em;
    text-transform:uppercase;
    letter-spacing:1px;
    margin:0;
}
[class*="-rev"]{
	color:white;
      a{
        color:white;
      }
}

p {
    margin: 0 0 $line-height * 1;
}



abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}

abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

blockquote{
}

blockquote p {
  font-size: 1.5em;
  line-height: 1.4em;
}

blockquote p:last-child {
  margin-bottom: 0;
}

cite{

}

address {
    margin-bottom: 20px;
    font-style: italic;
    line-height: $line-height;
}

code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  white-space: nowrap;
  background-color: #f9f2f4;
  border-radius: 4px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: $line-height;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}